@font-face {
  font-family: "MoveBold";
  src: local("MoveBold"), url(../fonts/MoveBold.otf);
}

@font-face {
  font-family: "MoveMedium";
  src: local("MoveMedium"), url(../fonts/MoveMedium.otf);
}

@font-face {
  font-family: "MoveRegular";
  src: local("MoveRegular"), url(../fonts/MoveRegular.ttf);
}

@font-face {
  font-family: "MoveLight";
  src: local("MoveLight"), url(../fonts/MoveLight.ttf);
}

@font-face {
  font-family: "MoveTextBold";
  src: local("MoveTextBold"), url(../fonts/UberMoveTextBold.otf);
}

@font-face {
  font-family: "MoveTextMedium";
  src: local("UberMoveTextMedium"), url(../fonts/UberMoveTextMedium.otf);
}

@font-face {
  font-family: "MoveTextRegular";
  src: local("UberMoveTextRegular"), url(../fonts/UberMoveTextRegular.otf);
}

@font-face {
  font-family: "MoveTextLight";
  src: local("UberMoveTextLight"), url(../fonts/UberMoveTextLight.otf);
}

.container {
  font-family: "MoveTextRegular", sans-serif;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  height: 100vmin;
}

.contentContainer {
  background-color: #f0f0f0;
  margin-left: 250px;
  width: 100%;
  overflow-y: auto;
  padding-bottom: 100px;
}

/* Header */
.headerContainer {
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  justify-content: space-between;
  height: 50px;
}

.headerTitle {
  font-family: 'MoveTextBold', sans-serif;
  font-size: 22px;
}

.otherSideHeader {
  font-family: 'MoveTextMedium', sans-serif;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 4px;
  color: #096ed4;
}

.rightCategoriesDrivers {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  width: 365px;
  justify-content: space-between;
}

.rightCategoriesDrivers div {
  border: 1px solid #d0d0d0;
  min-width: 90px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.requestsAndStatsContainer {
  border-bottom: 1px solid #d0d0d0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.requestsStatesContainer {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  width: 460px;
  justify-content: space-between;
}

.requestsStatesContainer div {
  border: 1px solid #d0d0d0;
  min-width: 120px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #d0d0d0;
  border-radius: 300px;
  font-size: 14px;
  cursor: pointer;
}

.infoPlusLabelContainer {
  /* border: 1px solid black; */
  margin-left: 25px;
  margin-bottom: 15px;
}

.labelInfoPlusL {
  font-family: 'MoveTextLight', sans-serif;
  font-size: 13px;
}

.titleInfoPlusL {
  font-family: 'MoveTextBold', sans-serif;
  font-size: 18px;
  padding-top: 3px;
}

.basicTitle {
  font-family: 'MoveTextBold', sans-serif;
  color: #545b64a8;
  font-size: 13px;
  padding-left: 25px;
}

.briefHeaderStats {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/* Header */


/* Tables requests */
.containerTablesRequests {
  /* border: 1px solid red; */
  padding-left: 20px;
  padding-right: 20px;
}


.tableMain {
  border: 1px solid #f0f0f0;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.tableMain td {
  border: 1px solid #d0d0d0;
  padding: 10px;
}

.headerTable {
  background-color: #fff;
  font-family: 'MoveTextBold';
  font-size: 14px;
}

.rowElementTable {
  font-size: 15px;
}

.rowElementTable:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.emptyDriversShower {
  border: 1px solid #d0d0d0;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

/* Tables requests */


/* Modal request */
.modalContainer {
  overflow-y: auto;
  padding: 20px;
  /* background-color: red; */
  padding-bottom: 50px;
}


.headerModalRequest {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titleRequestModal {
  font-family: 'MoveBold', sans-serif;
  font-size: 18px;
}

.clientNameModal {
  font-family: 'MoveTextMedium', sans-serif;
  font-size: 18px;
  color: #096ed4
}

.basicTitle {
  font-family: 'MoveTextBold', sans-serif;
  color: #545b64a8;
  font-size: 16px;
  margin-top: 40px;
  /* border: 1px solid red; */
  padding: 0;
}

.itiContainer {
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  margin-top: 10px;
}

.itiContainer>div {
  /* border: 1px solid red; */
  /* width: 35%; */
  flex: 1
}


/* LOCATION */
.infoPlusLabelContainerLocation {
  /* border: 1px solid black; */
  margin-top: 15px;
}

.labelInfoPlusLocation {
  font-family: 'MoveTextLight', sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
}

.titleInfoPlusLocation {
  font-family: 'MoveTextMedium', sans-serif;
  font-size: 16px;
  padding-top: 3px;
  margin-bottom: 5px;
}

.suburbInfoPlusLocation {
  font-family: 'MoveTextRegular', sans-serif;
  font-size: 15px;
}

.locationCoreContainer {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 17px;
  margin-bottom: 15px;
}

.numberLocationIndex {
  position: relative;
  top: 2px;
  padding-right: 10px;
  color: #096ed4;
}

.lookingForDriverContainer {
  border: 1px solid #f0f0f0;
  margin-top: 20px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #096ed4;
}

/* Actions */
.actionNode {
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 250px;
  justify-content: space-between;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  font-size: 15px;
  color: #11A05A;
  font-family: 'MoveTextMedium', sans-serif;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 20px;
}

.actionNode:hover {
  background-color: #f0f0f0;
  color: #fff;
}


/* Driver profile */
.profileBrief {
  display: flex;
  flex-direction: row;
  /* padding: 25px; */
  padding-bottom: 45px;
}

.profilePicBrief {
  border: 1px solid #d0d0d0;
  width: 100px;
  height: 100px;
}

.textualInfosBrief {
  margin-right: 50px;
}

.trueBriefImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Item */
.shoppingListContainer {
  /* border: 1px solid black; */
  margin-top: 25px;
  margin-bottom: 65px;
}

.itemToShopContainer {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 25px;
  padding-bottom: 20px;
}

.itemPictureContainer {
  border: 1px solid #f0f0f0;
  width: 100px;
  height: 80px;
  margin-right: 20px;
  background-color: #fff;
  cursor: pointer;
}

.itemPictureContainer:hover {
  border-color: #096ed4;
}

.trueItemPicture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.itemInfosContainer {
  /* border: 1px solid black; */
  width: 70%;
  margin-right: 20px;
}

.itemToShopName {
  font-family: 'MoveTextMedium', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}

.itemStoreName {
  font-size: 15px;
  margin-bottom: 15px;
}

.itemPriceQty {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.itemBoughtState {
  font-size: 15px;
  color: #11A05A;
}

/* Modal request */